.homeScene {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

div.headers {
  margin: auto 0;
}
.slideUp {
  animation: moveInButton 0.5s ease-out;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
}
.fadeIn {
  animation: fadeIn 1s ease-out;
}

.button {
  margin-top: 3rem;
}

.backgroundImage,
.backgroundImage::before,
.backgroundImage::after {
  z-index: 100;
}

@media (min-width: 1281px) {
  .backgroundImage,
  .backgroundImage::before,
  .backgroundImage::after {
    background-attachment: fixed !important;
  }
}
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
