.homeScene {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.headers {
  margin: auto 0;
}

.button {
  margin-top: 3rem;
}
