.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

@media (min-width: 1120px) {
  .list {
    justify-content: flex-start;
  }
}
