.list {
  display: flex;
  flex-direction: row;
  list-style-type: circle;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0 2rem;
}

@media (min-width: 70em) {
  .list {
    justify-content: flex-start;
    padding-left: 15px;
  }
}
