div.modal {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 3px;
  max-height: 100vh;
  overflow-y: scroll;
}

.cardModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content {
  padding: 1rem 2rem;
  background-color: var(--light-gray-2);
  align-items: center;
}

div.header {
  width: 100%;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: flex-end;
  border-bottom: 1px solid rgba(19, 44, 68, 0.1);
}

span.margin {
  margin-top: 1rem;
}

span.techHeader {
  color: var(--purple);
}

span.button {
  color: var(--purple);
}

button.buttonContainer:hover span.button,
button.buttonContainer:active span.button {
  color: var(--light-gray-2);
}

button.buttonContainer:focus {
  box-shadow: var(--buttonBoxButtonPurple);
  outline: none;
}

button.buttonContainer:focus span.button {
  animation: color 1s;
}

button.headerButton {
  display: none;
}

button.secondaryButton {
  margin-top: 1rem;
}

.auth {
  margin-top: 1rem;
}

span.authText {
  color: crimson;
}

span.center {
  text-align: center;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit {
  align-self: center;
}

span.flex {
  flex: 1;
}

button.exitIcon {
  border: none;
  padding: 0;
}

span.description {
  display: none;
}

@media (min-width: 600px) {
  button.headerButton {
    display: block;
  }
  button.secondaryButton {
    display: none;
  }
  span.center {
    text-align: left;
  }
  div.content {
    align-items: flex-start;
  }
  div.header {
    justify-content: space-between;
  }
  .exit {
    display: none;
  }
  .centerContainer {
    display: block;
  }
  div.header {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-height: 500px) {
  div.content {
    padding: 2rem;
    padding-bottom: 3rem;
  }
  span.description {
    display: inline-block;
  }
  span.shortDescription {
    display: none;
  }
}

@keyframes color {
  from {
    color: var(--light-gray-1);
  }
  to {
    color: var(--purple);
  }
}
