.modal {
  z-index: 99999;
  width: 100%;
  max-width: 110rem;
  position: relative;
  box-shadow: var(--box-shadow);
  backface-visibility: hidden;
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: all 500ms;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 500ms;
}
