.modal {
  z-index: 99999;
  width: 100%;
  max-width: 110rem;
  position: relative;
}

.enter {
  opacity: 0;
  transform: translateY(-20rem);
}
.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 500ms;
}
