:root {
  --dark-blue-1: #051e34;
  --dark-blue-2: rgb(19, 44, 68);
  --dark-blue-3: #193249;
  --light-gray-1: #f6f7f9;
  --light-gray-2: #e9ecef;
  --purple: #7510f7;
  --box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  --max-width: 1500px;
  --buttonBoxButtonPurple: 0 0 0 0.15rem rgba(117, 16, 247, 0.25);
}

*,
*::before,
**::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: var(--light-gray-1);
  scroll-behavior: smooth;
  line-height: 1.6;
}

@media (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 11.2px;
  }
}
