.button {
  border: 2px solid var(--purple);
  color: var(--light-gray-1);
  padding: 0.65em 1.65em;
  cursor: pointer;
  border-radius: 200px;
  transition: all 0.2s;
  background: none;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover,
.button:active {
  background-color: var(--purple);
}

.button:focus {
  box-shadow: var(--buttonBoxButtonPurple);
  outline: none;
  animation: backgroundAnim 1s;
}

.button::-moz-focus-inner {
  border: 0;
}

span.buttonText {
  color: var(--light-gray-1);
  text-align: center;
}

.header {
  font-size: 1.8rem;
}
.large {
  font-size: 2.2rem;
}
.medium {
  font-size: 1.8rem;
}
.small {
  font-size: 1.6rem;
}

@media (min-width: 1200px) {
  .button {
    padding: 0.5em 1.5em;
  }
}

@media (min-width: 1800px) {
  .large {
    font-size: 2rem;
  }
  .medium {
    font-size: 1.6rem;
  }
  .small {
    font-size: 1.4rem;
  }
}

@keyframes backgroundAnim {
  from {
    background-color: var(--purple);
  }
  to {
    background: none;
  }
}
