div.container {
  width: 100%;
  max-width: 110rem;
  height: auto;
}

.content {
  width: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1120px) {
  div.container {
    height: 100%;
  }
}
