div.fixed {
  width: auto;
  position: fixed;
  z-index: 99;
  right: 1rem;
  bottom: 1rem;
  padding: 0 1rem;
  transition: transform 0.2s;
}

div.fixed.main {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(4rem);
}

div.iconContainer {
  width: 100%;
}

div.iconContainer button,
div.iconContainer a {
  margin: 5px 0;
  background: var(--light-gray-1);
}

button.margin {
  margin: 5px 0;
}

.hide {
  display: none;
}

div.showArrow,
button.showArrow {
  transition: all 0.2s;
  top: 0;
  position: relative;
  z-index: 2;
}

div.hideArrow,
button.hideArrow {
  transition: all 0.2s;
  position: relative;
  top: 7rem;
  z-index: 2;
}

button.showArrowIcon {
  opacity: 1;
  background: var(--light-gray-1);
}

button.hideArrowIcon {
  opacity: 0;
  pointer-events: none;
}

button.plus {
  z-index: 2;
  box-shadow: 0 0 0 0.15rem rgba(233, 236, 239, 0.25) !important;
}

@media (min-width: 900px) {
  div.fixed {
    right: 3rem;
    bottom: 3rem;
  }
}

@media (max-height: 350px) {
  div.fixed {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(4rem);
  }
}

@media (min-width: 1200px) {
  div.hideArrow,
  button.hideArrow {
    top: 6.05rem;
  }
}
@media (min-width: 1800px) {
  div.hideArrow,
  button.hideArrow {
    top: 5.5rem;
  }
}
