.section {
  width: 100%;
  height: auto;
  background-color: var(--light-gray-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fill {
  height: max(100vh, 75rem);
}

.pad {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 1120px) and (min-height: 700px) {
  .section {
    height: 100vh;
    min-height: 75rem;
    max-height: 150rem;
  }
  .section.polygon {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
}
