.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.column {
  justify-content: center;
  height: 100%;
  align-items: center;
}

.content {
  width: 100%;
  background-color: var(--light-gray-2);
  padding: 10rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.contactMeText {
  color: var(--light-gray-1);
  text-align: center;
  margin-bottom: 1rem;
}

span.pad {
  padding: 0 1rem;
}

span.marginTop {
  margin-top: 1rem;
}

span.marginBottom {
  margin-bottom: 1rem;
}

span.learnSomething {
  display: none;
}

div.contactMe {
  background-color: var(--dark-blue-2);
  flex-direction: column;
  z-index: 10;
  position: relative;
  top: 6.5rem;
  padding: 2rem 0;
}

div.icons {
  width: 100%;
  max-width: 20rem;
  min-width: 200px;
  justify-content: space-between;
  display: none;
}

@media (min-width: 592px) {
  span.marginTop {
    margin-top: 3rem;
  }

  span.marginBottom {
    margin-bottom: 3rem;
  }

  span.learnSomething {
    display: inline-block;
  }
  div.icons {
    display: flex;
  }
}

@media (min-width: 640px) {
  div.contactMe {
    justify-content: space-between;
    flex-direction: row;
    padding: 4rem 6rem;
    height: auto;
  }
  span.contactMeText {
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  div.contactMe {
    border-radius: 10px;
    max-width: 90rem;
  }
}

@media (min-width: 1800px) {
  div.contactMe {
    top: 6.25rem;
  }
}
