div.container {
  height: auto;
}

span.text {
  text-align: center;
}

div.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 75rem;
  margin-bottom: 2rem;
}

div.imageColumn {
  max-width: none;
}

span.marginVertical {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

div.pad {
  padding: 0 3rem;
}

div.row {
  flex-direction: column;
}

@media (min-width: 900px) {
  div.pad {
    padding: 0 3rem;
  }
  div.padImage {
    padding: 0 1rem;
  }
}

@media (min-width: 1120px) {
  span.text {
    text-align: left;
  }
  div.column {
    align-items: flex-start;
  }
  div.container {
    height: 100%;
  }
  div.row {
    margin: auto 0;
    flex-direction: row;
  }
  div.pad,
  div.padImage {
    padding: 0 5rem;
  }
  div.imageColumn {
    max-width: 75rem;
  }
}

@media (min-width: 1200px) {
  .viewLeft {
    animation: moveInLeft 0.4s ease-out;
    opacity: 1;
  }
  .viewRight {
    animation: moveInRight 0.4s ease-out;
    opacity: 1;
  }
  .hide {
    opacity: 0;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
