.container {
  height: auto;
}

.text {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 75rem;
  margin-bottom: 2rem;
}

.imageColumn {
  max-width: none;
}

.marginVertical {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.pad {
  padding: 0 1rem;
}

.row {
  flex-direction: column !important;
}

@media (min-width: 900px) {
  .pad {
    padding: 0 3rem;
  }
  .padImage {
    padding: 0 1rem;
  }
}

@media (min-width: 1120px) {
  .text {
    text-align: left;
  }
  .column {
    align-items: flex-start !important;
  }
  .container {
    height: 100%;
  }
  .row {
    margin: auto 0;
    flex-direction: row !important;
  }
  .pad,
  .padImage {
    padding: 0 5rem;
  }
  .imageColumn {
    max-width: 75rem;
  }
}
