button.submitButton {
  padding: 0.5rem 3rem;
  margin-top: 0.5rem;
  background-color: var(--light-gray-2);
}

button.submitButton:focus {
  box-shadow: var(--buttonBoxButtonPurple);
}

button.submitButton span.submitButtonText {
  color: var(--purple);
}

button.submitButton:hover span.submitButtonText {
  color: var(--light-gray-1);
}

@media (min-width: 1800px) {
  button.submitButton {
    padding: 0.75rem 5rem;
  }
}

@media (min-height: 400px) {
  button.submitButton {
    padding: 1rem 5rem;
  }
}
