.imageContainer {
  width: 100%;
  height: auto;
  position: relative;
}

.composition {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100vw;
  max-width: 38rem;
  z-index: 0;
  transition: all 0.2s;
  box-shadow: var(--box-shadow);
}

@media (min-width: 70em) {
  .imageContainer {
    height: 300px;
  }

  .composition:hover .image:not(:hover) {
    transform: scale(0.95);
  }
  .image {
    position: absolute;
    max-width: 300px;
  }
  .image:hover {
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  }
  .firstImage {
    top: 0;
    left: 0;
  }
  .secondImage {
    top: 10%;
    right: 0;
  }
  .thirdImage {
    bottom: 0;
    right: 20%;
  }
}

@media (min-width: 75em) {
  .image {
    max-width: 325px;
  }
  .imageContainer {
    height: 325px;
  }
}

@media (min-width: 80em) {
  .image {
    max-width: 350px;
  }
  .imageContainer {
    height: 350px;
  }
}
@media (min-width: 85em) {
  .imageContainer {
    height: 375px;
  }
  .image {
    max-width: 375px;
  }
}

@media (min-width: 90em) {
  .imageContainer {
    height: 400px;
  }
  .image {
    max-width: 400px;
  }
}
