.composition {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100vw;
  max-width: 38rem;
  z-index: 0;
  transition: all 0.2s;
  box-shadow: var(--box-shadow);
}

@media (min-width: 70em) {
  .composition:hover .image:not(:hover) {
    transform: scale(0.95);
  }
  .image {
    position: absolute;
    width: 32rem;
  }
  .image:hover {
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  }
  .firstImage {
    top: 0;
    left: 0;
  }
  .secondImage {
    top: 10%;
    right: 0;
  }
  .thirdImage {
    left: 20%;
    bottom: 0;
  }
}

@media (min-width: 80em) {
  .image {
    width: 35rem;
  }
}

@media (min-width: 85em) {
  .image {
    width: 37rem;
  }
}

@media (min-width: 90em) {
  .image {
    width: 38rem;
  }
}
